.nfs0*
RER/
logs/
scripts/*.json
archive021523/
archive_snakefiles/
data/
fastas/
hyphy-analyses/
logs_macse/
practice.tree
res_in_scenarios.py
results/
.snakemake/
scripts/seq3-fasta.py
scripts/busted-e_result_summary_slkp.py
scripts/test_load_json.py
